@model CreateViewParca;
@{
    ViewData["Title"] = "Parça Ekle";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h1>Parça Ekle</h1>
    </div>

    <form method="post" class="form-floating" enctype="multipart/form-data">


        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="ModelAralik" placeholder="Model Aralığını Yazınız." />
            <label asp-for="ModelAralik">Model Aralığı</label>
            <span asp-validation-for="ModelAralik" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="ArabaMarka" placeholder="Araba Marka Yazınız." />
            <label asp-for="ArabaMarka">Araba Marka</label>
            <span asp-validation-for="ArabaMarka" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="ArabaModel" placeholder="Araba Modelini Yazınız." />
            <label asp-for="ArabaModel">Araba Model</label>
            <span asp-validation-for="ArabaModel" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Bolum" placeholder="Araba Bolumü Yazınız." />
            <label asp-for="Bolum">Araba Model</label>
            <span asp-validation-for="Bolum" class="alert-danger"></span>
        </div>


     

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Fiyatı" placeholder="Fiyatı Yazınız." />
            <label asp-for="Fiyatı">Fiyatı</label>
            <span asp-validation-for="Fiyatı" class="alert-danger"></span>
        </div>



        <div class="form-floating mb-3">
            <input type="file" class="form-control custom-file-input" asp-for="Photo" placeholder="Ürün fotoğrafını seçiniz." />
            <label asp-for="Photo" class="custom-file-label">Fotoğraf</label>
            <span asp-validation-for="Photo" class="alert-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Kaydet</button>
        <a asp-action="Index" class="btn btn-primary">Listeye Geri Dön</a>



           @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>
</div>